<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

    <!-- Contact -->
    <div class="mb4">
      <h4 class="f4 lh-title mb3 tl">Just fill out the form and we will be in touch</h4> 

      <form action="">
        <div class="flex-l mhn1-l">
          <!-- Name -->
          <div class="ph1-l w-50-l">
            <fieldset>
              <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
              <label for="name">Name</label>
            </fieldset>
          </div>
          <!-- Email -->
          <div class="ph1-l w-50-l">
            <fieldset>
              <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
              <label for="email">Email</label>
            </fieldset>
          </div>
          <!-- Company's Name -->
          <div class="ph1-l w-50-l">
            <fieldset>
              <input type="text" id="company" name="company" placeholder="Company's Name" class="w-100 mb2">
              <label for="company">Company's Name</label>
            </fieldset>
          </div>
        </div>

        <!-- Message -->
        <fieldset>
          <textarea id="message" name="message" placeholder="What are you looking for?" rows="8" cols="80" class="w-100"></textarea>
          <label for="message">Tell us a bit about your requirements. </label>
        </fieldset>
        <!-- Button -->
        <div class="mt3 tc">
          <button type="submit" class="btn w-100 w-auto-ns raise">Request Demo</button>
        </div>
      </form>
    </div>
  </div>
</div>
