<div class="bg-off-white pa3">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb2">{{.heading}}</h2>
		<p class="mb4 mw6">{{.description}}</p>

		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .blurbs }}
				<div class="ph2-ns w-50-ns mb4">
					<h3 class="f5 primary b lh-title mb2"> <a href="{{.url}}">{{.heading}}</a></h3>
					<ul style="list-style-type: disc">
						{{ $itemCount := len .items }}
						{{ range $index, $item := .items }}
						<li>
							{{ $item }}
						</li>
						{{ end }}
					</ul>
				</div>
			{{ end }}
		</div>
	</div>
</div>
