<footer class="ph3 pv4">

	<div class="mw7 center pt3 bt">

		<div class="flex-ns justify-between">

			<div>
				<a class="db center tc mt5" href="/">
					<img alt="enlist.io" src="/img/favicon-32x32.png">
				</a>
				<p> Copyright © Kindly Ops LLC 2020 </p>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Product</h3>
				<ul class="mb3">
					<li><a href="/features" class="link">Features</a></li>
					<li><a href="/pricing" class="link">Pricing</a></li>
					<li><a href="/demo" class="link">Request a demo</a></li>
					<li><a href="/mobile" class="link">Mobile</a></li>
					<li><a href="/support" class="link">Support</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Misc</h3>
				<ul class="mb3">
					<li><a href="http://help.enlist.io/en/" class="link">Docs</a></li>
					<li><a href="/resources" class="link">Resources</a></li>
					<li><a href="/gdpr" class="link">GDPR</a></li>
					<li><a href="/terms" class="link">Terms</a></li>
					<li><a href="/privacy" class="link">Privacy</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/enlisthr?ref=enlist-social-facebook" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/enlisthr?ref=enlist-social-twitter" "svg" "icons-twitter") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}


