<nav class="db dt-l w-100 border-box pa3 ph5-l">
	<a class="flex db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="enlist">
	  <img src="/img/logo.png" class="dib w2 h2 br-100" alt="enlist">
	  <h3 class="pl2">enlist</h3>
	</a>
	<div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
	  <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/features" title="Features">Features</a>
	  <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/pricing" title="Pricing">Pricing</a>
	  <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/demo" title="Demo">Demo</a>
	  <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/resources" title="Resources">Resources</a>
	  <a class="link dim dark-gray f6 f5-l dib" href="https://hire.enlist.io/login" title="Sign In">Sign In</a>
	</div>
  </nav>
