<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex no-underline">
		<img src="/img/favicon-32x32.png" alt="enlist.io logo" class="br0 db mb0 w-100"/>
		<h3 class="pl2">enlist</h3>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/features" class="pa3 no-underline db">Features</a></li>

		<li><a href="/pricing" class="pa3 no-underline db">Pricing</a></li>

		<li><a href="/demo" class="pa3 no-underline db">Request a demo</a></li>

		<li><a href="/resources" class="pa3 no-underline db">Resources</a></li>

		<li><a href="https://hire.enlist.io/login" class="pa3 no-underline db">Sign In</a></li>

	</ul>

</nav>
