<div class="bg-off-white pv4 ph3">

	<div class="mw7 center">

		<h2 class="f2 b lh-title mb3">{{.heading}}</h2>
		<p class="mw6">{{.description}}</p>

		<article class="cf center br1 shadow-5 pa3 ba b--black-10 bg-grey-1">
			<div>
				<h2 class="f3 b mb3 tc">Every Plan Includes</h2>
				
				<div class="fl pl5">
				<p class="f4 tl">&check; Branded Careers Site</p>
				<p class="f4 tl">&check; Customisable Job Pipelines</p>
				<p class="f4 tl">&check; Incoming & Outgoing Emails</p>
				<p class="f4 tl">&check; Forms & Email Templates</p>
				<p class="f4 tl">&check; Reporting & Analytics</p>
				</div>
				<div class="fl pl5">
				<p class="f4 tl">&check; Integrations</p>
				<p class="f4 tl">&check; Scorecards</p>
				<p class="f4 tl">&check; Job Board Syndication</p>
				<p class="f4 tl">&check; Resume Parsing</p>
				<p class="f4 tl">&check; iOS & Android apps</p>
				</div>
			</div>	
		</article>

		<div class="flex-ns pa3 mhn2-ns mw7">
			{{ range .plans }}
			<div class="w-33-ns pa3">{{ partial "table-column" . }}</div>
			{{ end }}
		</div>

	</div>

</div>