<div class="bg-off-white pv4 ph3">

	<div class="mw7 center">

		<h2 class="f2 b lh-title mb3">{{.heading}}</h2>
		<p class="mw6">{{.description}}</p>

		<div class="flex-ns mhn2-ns mw7">
			{{ range .plans }}
			<div class="w-33-ns ph2">{{ partial "table-column" . }}</div>
			{{ end }}
		</div>

	</div>

</div>

<article class="cf mw7 center br1 pa3 pa4-ns mv3 ba b--black-10 bg-grey-1">
	<div>
		<h2 class="f3 b mb3 tc">Every Plan Includes</h2>
		
		<div class="fl pl5 w-50">
		<h3 class="f4 tl ">&check; Branded Careers Site</h3>
		<h3 class="f4 tl">&check; Customisable Job Pipelines</h3>
		<h3 class="f4 tl">&check; Incoming & Outgoing Emails</h3>
		<h3 class="f4 tl">&check; Forms & Email Templates</h3>
		<h3 class="f4 tl">&check; Reporting & Analytics</h3>
		</div>
		<div class="fl pl5 w-50">
		<h3 class="f4 tl">&check; Integrations</h3>
		<h3 class="f4 tl">&check; Scorecards</h3>
		<h3 class="f4 tl">&check; Job Board Syndication</h3>
		<h3 class="f4 tl">&check; Resume Parsing</h3>
		<h3 class="f4 tl">&check; iOS & Android apps</h3>
		</div>
	</div>	
</article>