{{ define "main" }}

{{ partial "jumbotron" (dict "title" .Title) }}

<div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range .Sections.ByParam "rating" }}
          {{ if ne .Title "Job Description Templates" }}
            <div class="w-50-ns ph1-ns flex">
              {{ .Render "li"}}
            </div>
          {{ end }}
      {{ end }}
        {{ range (.Paginator).Pages.ByPublishDate.Reverse }}
        <div class="w-50-ns ph1-ns flex">
          {{ .Render "li"}}
        </div>
        {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>
<div class=" cms ph3 mw7 center">
  {{ range .Sections.ByParam "rating" }}
    {{ if eq .Title "Job Description Templates" }}
      <h3>{{ .Title }}</h3>
      <div class="w-50-ns ph1-ns flex">
        <p>Customizable job description templates for all kinds of jobs.</p>
      </div>
    {{ end }}
  {{ end }}
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
  {{ range  .Pages}}
    {{ if eq .Title "Job Description Templates" }}
      <div class="w-50-ns ph1-ns flex">
        {{ range .Data.Pages }}
          {{ .Render "li"}}
        {{end }}
      </div>
    {{ end }}
  {{ end }}
  </ul>
  {{ .Content}}
</div>
{{end}}