{{ define "main" }}

{{ partial "jumbotron" (dict "title" .Title "subtitle" .Params.subtitle) }}
<!-- Content is defined in /resources/index.md -->
{{ .Content }}
<!-- Resource Categories -->
<div class="cms mw7 center">
  <h2 class="tc">Categories</h2>
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range .Sections.ByParam "rating" }}
          {{ if ne .Title "Job Description Templates" }}
            <div class="w-50-ns ph1-ns flex">
              {{ .Render "li"}}
            </div>
          {{ end }}
      {{ end }}
        {{ range (.Paginator).Pages.ByPublishDate.Reverse }}
        <div class="w-50-ns ph1-ns flex">
          {{ .Render "li"}}
        </div>
        {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>
<!-- Job Description Templates Navigation -->
<div class="cms mw7 center">
  {{ range .Sections.ByParam "rating" }}
    {{ if eq .Title "Job Description Templates" }}
      <div class="tc pa3">
        <h2>{{ .Title }}</h2>
        <p class="center">Customizable job description templates for all kinds of jobs.</p>
      </div>
    {{ end }}
  {{ end }}
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
    {{ range  .Pages}}
      {{ if eq .Title "Job Description Templates" }}
        {{ range .Data.Pages }}
          <div class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
        {{end }}
      {{ end }}
    {{ end }}
  </ul>
</div>
{{end}}