<div class="pa4 bg-primary mb4">
    <p class="f6">FEATURED</p>
    <h1 class="f3"><a href="/resources/guides/how-to-choose-an-applicant-tracking-system">How To Choose an Applicant Tracking System</a></h1>
    <p>Choosing an applicant tracking system can be a daunting task. 
      In fact, choosing any software is tough, but when it comes to 
      applicant tracking systems, it's made worse by the fact that 
      there are too many options. For every segment of the 
      market—startups, small businesses, medium-sized businesses, 
      enterprises—there are many options that you could potentially 
      choose from, each with their own upsides and downsides.
    </p>
    <p class="link b dib black raise mb0">
      <a href="/resources/guides/how-to-choose-an-applicant-tracking-system">Read More →</a>
    </p>
  </div>