{{ define "main" }}

    <div class="pv6 ph2 tc-l">
        <a class="f6 dim br-pill ph3 pv2 ma2 dib white bg-primary">Beta</a>
            <h1 class= "f1 b">Hire on the go.</h1>
                <h2 class="f4">No matter where you are, you can hire with enlist's iOS and Android apps.</h2>
                    <ul class="pa4 tc">
                        <li>&check;Find what needs your attention quickly</li>
                        <li>&check;Search for the candidates you want</li>
                        <li>&check;Access all your information anytime, anywhere</li>
                        <li>&check;Collaborate with your team on the go</li>
                    </ul>
        
        <div class="w-100 flex items-center">
            <div class="w-50">
                <a href="https://apps.apple.com/app/id1146472597">
                    <img class="mw-100" alt="Download from the app store" src="/img/download-on-the-app-store-apple.svg">
                </a>
            </div>
            <div class="w-50">
                <a href="https://play.google.com/store/apps/details?id=com.enlist&utm_source=website&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                        <img class="mw-100" alt="Get it on Google Play" src="/img/google-play-badge.png">
                </a>
            </div>
        </div>
    </div>
{{ end }}